body {
    background-image: linear-gradient(to right, #c6ffdd, #ffffb4, #ffc0cb);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    color: black;
}

h1 {
  margin-bottom: 20px;
}

h4 {
  margin: 0px;
  text-align: center;
}

.slidecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#leftDiv {
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

#centerDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#bottomMenu {
  margin-top: 10px;
}

#mainContainer {
    display: flex;
}

.div-grid {
    border: 0.5px lightgrey;
    box-sizing: border-box;
    background-color: rgb(204, 250, 204);
}

.solid-border {
  border-style: solid; 
}

.button{
    appearance: none;
    background-color: #ffe5e9;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
  }
  
  .button:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
  }
  
  .button:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
  }
  
  .button:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
  }
  
  .button:focus {
    outline: 1px transparent;
  }
  
  .button:before {
    display: none;
  }
  
  .button:-webkit-details-marker {
    display: none;
  }
  
  /* slider */
  